<div class="container">
    <div class="row justify-content-md-center">
        <div class="commencer-top">
            <div class="col">
                <div class="card commencer-top">
                    <div class="card-body bg-warning">
                        <h3 class="text-center">ECOLE DE MUSIQUE</h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card commencer-top">
                    <div class="card-body bg-warning">
                        <h3 class="text-center">ECOLE DE PHOTOGRAPHIE</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>