<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="<%= new_versement_path %>" class="newEmploye">
                        <h6 class="text-center">NOUVEAU VERSEMENT</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="<%= versements_path %>">
                        <h6 class="text-center">TOUS LES VERSEMENTS</h6>
                    </a>
                </div>
            </div>  
        </div>
    </div>
</div>
    
            
    
    