<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="<%= new_etudiant_path %>" class="newEmploye">
                        <h6 class="text-center">NOUVEL ETUDIANT</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="<%= etudiants_path %>">
                        <h6 class="text-center">LISTE DES ETUDIANTS</h6>
                    </a>
                </div>
            </div>  
        </div>
    </div>
</div>

        

