<div class="container">
    <div class="row justify-content-md-center">
        <div class="card">
            <div class="card-header">
            <h2 class="text-center">MODIFIER MATIÈRE</h2>
            </div>
            <div class="card-body">
                <%= render 'form', matiere: @matiere %>
            </div>
            <div class="card-footer">
                <%# link_to 'Show', @annee, :class => 'btn btn-default' %> |
                <%= link_to 'RETOUR', matieres_path, :class => 'btn btn-default' %> 
            </div>
        </div>
    </div>
</div>