/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    margin: 0;
    padding: 0;
 }

 body, html {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    /*position: fixed;
    overflow: hidden;*/
    }  

    a {
       color: #fff;
    }

    a:hover {
       color: #4fa845;
       text-decoration-line: none;
    }
    
    #left {
    height: 100%;
    /* min-width: 20%; */
    -webkit-text-fill-color: white;
    }
    
    .aside-margin {
    padding-left: 15px;
    }
    
    .signout-icon {
    margin-left: 15vh;
    }
    
    .aside-bottom {
    bottom: 0;
    position: fixed;
    left: 0;
    }
    
    .aside-top {
    margin-top: 3vh;
    }

    .genre {
       display: inline;
    }

    .commencer-top {
       display: inline-block;
    }

    .table-modal-btn {
       margin-left: 59.5%;
       margin-bottom: 2%;  
    }

   .modal-lg {
      max-width: 80%;
   }
   
   .resize-form {
      width: 40%;
  }
  
  .btn-place{
      margin-left: 38%;
  }
  
  .hr-sect {
     display: flex;
     flex-basis: 100%;
     align-items: center;
     color: rgba(0, 0, 0, 0.70);
     margin: 8px 0px;
  }
  .hr-sect::before,
  .hr-sect::after {
     content: "";
     flex-grow: 1;
     background: rgba(0, 0, 0, 0.70);
     height: 1px;
     font-size: 0px;
     line-height: 0px;
     margin: 0px 8px;
  }

  .login-position {
     margin-left: 20%;
     margin-top: 5%;
  }

  .list-group-item {
     background-color: #343a3f;
     border: 0px;
  }

  .list-group-item:hover {
   background-color: #fff;
}

.action-link-color {
   color: #000;
}

.action-link-color:hover {
   color: #000;
}