
<div class="container">
        <div class="row justify-content-md-center">
            <div class="card">
                <div class="card-header">
                <h2 class="text-center">MODIFIER ETUDIANT</h2>
                </div>
                <div class="card-body">
                    <%= render 'form', etudiant: @etudiant %>
                </div>
                <div class="card-footer">
                    <%= link_to 'RETOUR', :back, :class => 'btn btn-default' %> 
                </div>
            </div>
        </div>
    </div>