<!DOCTYPE html>
<html>
    <head>
        <title>Inscription</title>
    </head>
    <body>
        <h3>Inscription</h3>
        <div>
            Inscription de <%= "#{@etudiant.nom} #{@etudiant.prenom} effectuer avec succès" %>
        </div>
    </body>
</html>